<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Water Segmentation</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>

<body>
    <div class="container">
        <h1>💦Water Segmentation Solutions</h1>
        <form action="/predict" method="POST" enctype="multipart/form-data">
            <input type="file" name="file" accept=".tif" required>
            <input type="submit" value="Upload and Predict">
        </form>

        {% if rgb_image and output_image %}
        <div class="image-container">
            <div>
                <h3 style="color: #003366;">Original Image</h3>
                <img id="input-image" src="data:image/png;base64,{{ rgb_image }}" alt="Input Image">
            </div>
            <div>
                <h3 style="color: #003366;">Prediction Image</h3>
                <img id="output-image" src="data:image/png;base64,{{ output_image }}" alt="Output Image">
            </div>
        </div>

        {% endif %}
    </div>
</body>

</html>